*{
    margin: 0;
    font-family: tahoma;
    border:border-box;
}
.navbar{
    justify-content: space-evenly;
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 114px;
}
.logo{
    height: 50px;
    width: 114px;
    background-image: url(amazon-removebg-preview.png);
    background-size: cover;
}
.border{
    border: 2px solid transparent;
    border-radius: 5px;
}
.border:hover{
    border: 2px solid white;
}

/* box 2 */

.add-first{
    color: #CCCCCC;
    font-size:12px;
    margin-left: 24px;
}
.add-icon{
    display: flex;
    align-items: center ;
    font-size: 1rem;
    margin-left : 3px;
}

/* box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 720.51px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 3px solid orange;
}
.search-select{
    background-color: #f3f3f3   ;
    height: 40px;
    width: 55px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
    padding-left: 5px;
    border-width:0.800px;
}
.search-input{
    width: 100%;
    border-top: 0.800px;
    font-size: 14px;
    border:none;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.search-icon{
    width: 55px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    color: #0F1111;
}

/* box-4 */

span{
    font-size: 14px;
}
.nav-second{
    font-size: 14px;
    font-weight: 700;
}

/* box-6 */
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}

/* panel */

.panel{
    height: 39px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    font-size: 14px;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin: 15px;
}
.panel-ops{
    width:80%;
}
.panel-deals{
    font-weight: 700;
}

/* hero section */

.hero-section{
    background-image:url(hero_image.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    display: flex;
    height: 40px;
    width: 1500px;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f6;
    font-size: 14px;
    margin-bottom: 25px;
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}

/* shop-section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #252727;
}
.box{
    border: 2px solid black;
    height: 420px;
    width: 23.99%;
    background-color: white;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.box a{
    text-decoration: none;
    font-size: 13px;
    color: #007185;
}
.box-img{
    height: 330px;
    margin-top: 15px;
    margin-bottom: 25px;
    background-size: cover;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
}

/* footer-section */

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 49px;
    display: flex;
    justify-content:center;
    align-items: center;
   font-size: 13px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 400px;

}
ul{
    margin: 50px;
}
ul a{
    display: block;
    font-size: 14px;
    color: #dddddd;
    margin-top: 10px;
}
ul a:hover{
    text-decoration: underline;
}
ul p{
    font-size: 16px;
    font-weight: 800;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.5px solid white;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    height: 50px;
    width: 114px;
    background-image: url(amazon-removebg-preview.png);
    background-size: cover;
}
.foot-panel4{
    background-color: #1a1e1e;
    height: 77px;
    color: #dddddd;
    text-align: center;
    font-size: 12px;
}
.foot-page{
    padding-top: 20px;
}
.foot-copyright{
    padding-top: 5px;
}